# Main owner of this repo
*       daniel@nalej.com

# DevOps
Makefile rnunez@nalej.com mgonzalez@nalej.com
/scripts/Makefile* rnunez@nalej.com mgonzalez@nalej.com
/ci/ rnunez@nalej.com mgonzalez@nalej.com
